@tailwind base;
@tailwind components;
@tailwind utilities;

#platforms-dropdown-option:active svg path:first-of-type {
  fill: #633CFF;
}

#nav-tab-btn:hover svg path:first-of-type,
#nav-tab-btn:active svg path:first-of-type {
  fill: #633CFF;
}

#platform-preview-icon svg {
  width: 20px;
  height: 20px;
}

#nav-preview-btn {
  width: auto;
  flex: none;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  #nav-preview-btn {
  padding-left: 27px;
  padding-right: 27px;
}
}